.DS_Store
chapter11/__pycache__/NeuralNetMLP.cpython-39.pyc
chapter11/data/mnist_data_X.npy
chapter11/data/mnist_target_y.npy
chapter11/train_result/loss_acc_result_no_index.csv
chapter12/celeba/
chapter12/cat_dog_images/
chapter12/MNIST/
chapter12/iris_classifier_state_dict.pt
chapter12/iris_classifier.pt
chapter13/MNIST/
chapter13/lightning_logs/
chapter13/checkpoints/
chapter13/final_combined_metrics_plot.png
chapter13/runs/